{% extends "base.html" %}
{% load static %}
{% block conteudo %}

        {% if error == True %}
        <div class="pb-3">
            <h4 class="text-center text-danger rounded border border-danger pt-2 pb-2">
            Senhas diferentes!</h4>
        </div>
        {% endif %}
        <div class="login-form">
            <form method="post" action="{% url 'change_password' %}">
                {% csrf_token %}
                <input class="form-control" type="hidden" name="user_status" value="{{user_status.pk}}">
                <div class="form-group">
                    <label>Nova Senha</label>
                    <input class="form-control" type="password" name="password1" placeholder="Nova senha">
                </div>
                <div class="form-group">
                    <label>Repita a Nova Senha</label>
                    <input class="form-control" type="password" name="password2" placeholder="Nova senha">
                </div>

                <button class="btn btn-primary" type="submit">Registrar</button>
            </form>
        </div>



{% endblock %}