{% extends "base.html" %}

{% block conteudo %}
	<div class="mt-2">
		<div class="container">
			<div class="row d-flex justify-content-center">
				{% for opt in option %}
				<div class="col-12 col-lg-4">
					<a href="{{ opt.slug }}">
						<!-- Cada opção terá o print do setor -->
						<div style="background-image: url({{ opt.image.url }});" class="option-edit">
							<div class="bg-option">
							 	<h2>{{ opt.title }}</h2>
							 	<p>
							 		{{ opt.details }}
							 	</p>
							 </div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}