*{
  scroll-behavior: smooth;
}

/* Editando o menu */
nav.menu-edit{
  background: #FFF !important;
}
nav.menu-edit .nav-link, .navbar-brand{
  color: #17202A !important;
  text-transform: uppercase;
  font-weight: bold;
}

nav.menu-edit .nav-link{
  padding: 0px 20px !important;
}

nav.menu-edit .navbar-brand img{
  height: 50px;
}

nav.menu-edit .phone{
  padding: 0;
}

nav.menu-edit .navbar-nav{
  display: flex !important;
  align-items: center !important;
}

/* Editando a capa inicial */
div#cover-start{
  height: 90vh;
  padding: 50px 0;
  background-image: url('../img/bottom-cover.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

div#cover-start .cover-info{
  align-items: center;
}

div#cover-start .title-cover h1{
  font-weight: bold;
  font-size: 2em;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

div#cover-start .desc-cover{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

div#cover-start .desc-cover .img-cover-desc{
  width: 50%;
}

div#cover-start .priceProduct-cover{
  margin-top: 15px;
}

div#cover-start .priceProduct-cover h5{
  font-size: 1.4em;
  text-align: center;
  color: #626567;
}

div#cover-start .priceProduct-cover h5 span{
  font-weight: bold;
  color: #17202A;
}

div#cover-start .btn-cover{
  display: flex;
  justify-content: center;
}

.btn-cto{
  display: flex;
  align-items: center;
  color: #17202A;
  padding: 8px 8px;
  border-radius: 50px;
  background: rgb(39,174,96);
  background: linear-gradient(90deg, rgba(39,174,96,1) 29%, rgba(41,128,185,1) 100%);
  color: #FFF;
  transition: .3s ease-in-out !important;
}

.btn-cto:hover{
  text-decoration: none;
  color: #FFF;
}

.btn-cto:hover i{
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: toRightFromLeft;
}

.btn-cto:hover .btn-icon{
  background-color: #1ABC9C;
}

@keyframes toRightFromLeft{
  49% {
    transform: translate(32%);
  }
  50% {
    opacity: 0;
    transform: translate(-32%);
  }
  51% {
    opacity: 1;
  }
}

.btn-cto .text-btn-cto{
  padding: 0 25px 0 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.btn-icon{
  background-color: #48C9B0;
  border-radius: 50px;
  transition: .3s ease-in-out;
}

.btn-cto i{
  /* background-color: #1ABC9C; */
  color: #FFF;
  padding: 10px 12px;
  font-size: 20px;
  font-weight: bold;
}

div#cover-start .img-side-cover{
  display: flex;
  justify-content: centere;
  align-items: center;
}

div#cover-start .img-side-cover img{
  width: 350px;
  height: 350px;

}


/* editando video */
div#video-info{
  background-image: url('../img/bottom-cover.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 200px;
}
div#video-info .video-container{
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;
}

div#video-info .video-container video{
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

div#video-info .text-container-video-info{
  text-align: center;
}

div#video-info h2{
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
}

div#video-info p{
  text-align: center;
  padding: 0 250px;
  color: #797D7F;
}

/* SOBRE */
div#sobre-product{
  margin-top: 100px;
  padding: 0 0 80px 0;
}

div#sobre-product h2{
  text-align: center;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
}

div#sobre-product .img-start-product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

div#sobre-product .img-start-product img{
  width: 400px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div#sobre-product .img-start-product h3{
  text-align: center;
  font-weight: bold;
  padding: 8px 0;
}

div#sobre-product .img-desc-product{
  padding: 40px 81px;
}

div#sobre-product .info-product-desc{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

div#sobre-product .img-desc-product img{
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div#sobre-product .img-container-left{
  display: flex;
  justify-content: flex-end;
}

div#sobre-product .img-desc-product h4{
  padding: 14px 3px;
  text-align: right;
  font-weight: bold;
}

div#sobre-product .img-desc-product li{
  list-style: none;
  text-align: right;
}

div#sobre-product .img-desc-product i{
  font-size: 0.8em;
  padding: 0 3px;
}

div#sobre-product .img-desc-product .info-product-desc-left{
  align-items: flex-start;
}

div#sobre-product .img-desc-product .info-product-desc-left ul{
  padding-inline-start: 0;
  padding: 10px 0; 
}


div#sobre-product .img-desc-product .info-product-desc-left li{
  text-align: left;
}

div#sobre-product .img-right{
  flex-direction: row-reverse;
}

/* Parallax */
div#parallax{
  background: url('../img/cover-start.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

div#parallax .title{
  padding: 200px 0;
  text-align: center;
  color: #FFF;
  background: rgba(0, 0, 0, 0.9);
}

div#parallax .title h2{
  font-family: 'Oxygen', sans-serif;
  font-size: 2.3em;
  font-weight: bold;
}

div#parallax .title h2, h4, p{
  padding: 0;
  margin: 0;
  text-shadow: 0 0 100px #000;
}

div#parallax .title h4{
  padding-top: 50px;
  padding-bottom: 10px;
  font-weight: bold;
}

/* footer */
div#footer{
  padding: 70px 0 0 0;
  text-align: center;
}

div#footer img{
  width: 200px;
}

div#footer p{
  padding: 5px 500px;
  color: #1F618D;
  font-weight: bold;
}

div#footer img.logo-techay{
  margin-top: 70px;
  width: 140px;
}
