@media only screen and (max-width: 980px) {
  /* COVER */
  div#cover-start .img-side-cover img{
    width: 100%;
    margin-top: 20px;
  }

  /* VIDEO */
  div#video-info .video-container video{
    margin-top: 200px;
  }
  div#video-info p{
    padding: 0;
  }


  /* SOBRE */
  div#sobre-product .img-right{
    flex-direction: row;
  }
  div#sobre-product .info-product-desc{
    align-items: center;
  }
  div#sobre-product .img-container-left{
    display: flex;
    justify-content: center;
  }
  
  div#sobre-product .img-desc-product{
    align-items: center;
  }

  div#sobre-product .mobile-layout--fix{
    display: flex;
    justify-content: center;
  }

  div#sobre-product .img-desc-product ul{
    padding-inline-start: 0;
  }

  div#sobre-product .img-desc-product h4{
    padding: 14px 0;
    text-align: center;
  }
  div#sobre-product .img-desc-product .info-product-desc li{
    text-align: center;
    padding: 5px 0;
  }


  div#sobre-product .img-desc-product i{
    display: none;
  }

  div#sobre-product .img-desc-product{
    padding: 40px 0px;
  }

  /* parallax */
  div#parallax{
    background-attachment: scroll;
  }

  /* footer */

  div#footer p{
    padding: 5px 50px;
  }
}