{% extends "base.html" %}

{% block conteudo %}
<div class="content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6 mt-5">
				<div>
					<h2 class="text-center font-weight-bold">
						Adicionando uma foto
					</h2>
				</div>
				<form action="{% url 'add_case' %}" method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<div class="d-flex justify-content-center">
						<input type="submit" class="btn font-weight-bold btn-success" value="Enviar">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}