<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Frwsaude</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
  </style>
  <script src="https://kit.fontawesome.com/e177f68271.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style-mobile.css' %}" />
</head>

<body>
  <!-- MENU -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light menu-edit">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/logo.jpeg' %}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-tec"
        aria-controls="menu-tec" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="menu-tec">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="#cover-start">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre-product">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#parallax">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link phone" href="#">
              <span class="btn-cover">
                <a class="btn-cto" href="https://wa.me/5512996608390">
                  <div>
                    <span class="text-btn-cto">(12) 99660-8390</span> 
                  </div>
                  <div class="btn-icon">
                    <i class="fab fa-whatsapp"></i>
                  </div>
                </a>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- FIM DO MENU -->

  <!-- CAPA -->
  <div id="cover-start">
    <div class="container">
      <div class="row cover-info">
        <div class="col-12 col-lg-6">
          <div class="">
            <div class="title-cover">
              <h1>Máscara de proteção</h1>
            </div>
            <div class="desc-cover">
              <img class="img-cover-desc" src="{% static 'img/desc-img.jpeg' %}" />
            </div>
            <div class="priceProduct-cover">
              <h5>Apenas <span>R$ 4,90</span> a unidade</h5>
            </div>
            <div class="btn-cover">
              <a class="btn-cto" href="https://wa.me/5512996608390">
                <div>
                  <span class="text-btn-cto">COMPRE A SUA</span> 
                </div>
                <div class="btn-icon">
                  <i class="fas fa-arrow-right"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="img-side-cover">
            <img src="{% static 'img/img3.jpeg' %}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM DA CAPA -->

  <!-- VIDEO -->
  <div id="video-info">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="video-container">
            <video class="img-thumbnail" src="{% static 'video/mascara_-_video.mp4' %}" controls></video>
          </div>
        </div>
        <div class="col-12">
          <div class="text-container-video-info">
            <h2>EFICÁCIA E SEGURANÇA</h2>
            <p>Mascara lavável e reutilizável. Concebida visando proteção e conforto. Sistema de amarração para proporcionar ajuste perfeito. Extremamente macia para causar menos irritação. Alça com elastano.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM DO VIDEO -->
  
  <!-- SOBRE -->
  <div id="sobre-product">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>SOBRE</h2>
        </div>
        <div class="col-12">
          <div class="img-start-product">
            <img class="img-thumbnail" src="{% static 'img/img1.jpeg' %}" />
            <h3>Máscara de Proteção - APROVADA ANVISA</h3>
          </div>
        </div>
        <div class="col-12">
          <div class="img-desc-product">
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="mobile-layout--fix">
                  <img class="img-thumbnail" src="{% static 'img/img2.jpeg' %}" />
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="info-product-desc">
                  <h4>Descrição do produto:</h4>
                  <ul>
                    <li>
                      Máscara Lavável e Reutilizável (FFP) <i class="fas fa-circle"></i>
                    </li>
                    <li>
                      Concebida visando a proteção e conforto <i class="fas fa-circle"></i>
                    </li>
                    <li>
                      Sistema de amarração para proporcional ajuste perfeito <i class="fas fa-circle"></i>
                    </li>
                    <li>
                      Extremamente macia para causar menos irritação <i class="fas fa-circle"></i>
                    </li>
                    <li>
                      Alça com elastano <i class="fas fa-circle"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="img-desc-product">
            <div class="row img-right">
              <div class="col-12 col-lg-6 img-container-left">
                <img class="img-thumbnail" src="{% static 'img/img3.jpeg' %}" />
              </div>
              <div class="col-12 col-lg-6">
                <div class="info-product-desc info-product-desc-left">
                  <h4>Características Técnicas do Produto:</h4>
                  <ul>
                    <li>
                      <i class="fas fa-circle"></i> Composição máscara: 100% Poliamida 
                    </li>
                    <li>
                      <i class="fas fa-circle"></i> Composição alça: 85% Poliamida 15% Elastano 
                    </li>
                    <li>
                      <i class="fas fa-circle"></i> Medidas da máscara: 13,5 x 17 cm 
                    </li>
                    <li>
                      <i class="fas fa-circle"></i> Medidas da alça: 72cm (regulável) 
                    </li>
                    <li>
                      <i class="fas fa-circle"></i> Cores: Branco
                    </li>
                    <li>
                      <i class="fas fa-circle"></i> Tamanho: Único
                    </li>
                    <li>
                      <i class="fas fa-circle"></i> Nível de proteção: FFP
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <div class="btn-cover">
              <a class="btn-cto" href="https://wa.me/5512996608390">
                <div>
                  <span class="text-btn-cto">COMPRE A SUA</span> 
                </div>
                <div class="btn-icon">
                  <i class="fas fa-arrow-right"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM DO SOBRE -->
  <!-- PARALLAX -->
  <div id="parallax">
    <div class="title">
      <h2>FRETE GRÁTIS PARA TODO O BRASIL</h2>
      <p>(Pedidos acima de 100 unidades)</p>
      <h4>COMPRE DIRETAMENTE CONOSCO</h4>
      <div class="d-flex justify-content-center">
        <a class="nav-link phone" href="#">
          <span class="btn-cover">
            <a class="btn-cto" href="https://wa.me/5512996608390">
              <div>
                <span class="text-btn-cto">(12) 99660-8390</span> 
              </div>
              <div class="btn-icon">
                <i class="fab fa-whatsapp"></i>
              </div>
            </a>
          </span>
        </a>
      </div>
    </div>
  </div>
  <!-- FIM PARALLAX -->
  <!-- RODAPE -->

  <div id="footer">
    <div>
      <img src="{% static 'img/logo.jpeg' %}" />
      <p>Esperamos que essa crise passe
        o mais rápido possível e que tenhamos
        poucas perdas nessa guerra!
      </p>
      <a href="https://www.hostpotiguar.com.br" target="_blank" >
        <img class="logo-techay" src="{% static 'img/NEW_LOGO_TecHAY.png' %}" alt="Logo da TecHAY" data-toggle="techay" data-placement="top" title="Desenvolvido por TecHAY" />
      </a>
    </div>
  </div>

  <!-- FIM RODAPE -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('[data-toggle="techay"]').tooltip()
      })
    </script>
</body>

</html>
