
{% extends "base.html" %}

{% block conteudo %}
<div class="content">
	<div class="container">
		{% if products.all %}
		<div class="mt-4 mb-2 pb-3 border-bottom">
			<div align="center">
				<a href="{% url 'add_product' %}" class="btn font-weight-bold btn-success">ADICIONAR</a>
			</div>
		</div>
		{% endif %}
		{% for product in products %}
		<div class="row border-bottom pt-3">
			<div class="col-8">
				<div>
					<h4 class="text-center font-weight-bold">{{product.name}}</h4>
					<p>{{product.details}}</p>
					<div class="d-flex justify-content-center">
						<img width="200" src="{{product.image.url}}">
					</div>
					<ul>
					{% for ingredient in product.ingredients.all %}
						<li>{{ingredient}}</li>
					{% endfor %}
					</ul>

				</div>
			</div>
			<div class="col-4">
				<div class="text-center">
					<a href="{% url 'edit_product' product.pk %}" class="btn w-50  btn-primary">EDITAR</a>
				</div>
				<div class="text-center">
					<a href="{% url 'delete_product' product.pk %}" class="btn w-50 mt-2 btn-danger">APAGAR</a>
				</div>
			</div>
		</div>
		{% empty %}
		<div align="center">
			<a href="{% url 'add_product' %}" class="btn btn-success">ADICIONAR</a>
		</div>
		{% endfor %}
		{% if products.all %}
			<div class="mt-4 mb-4 pt-3 border-top">
				<div align="center">
					<a href="{% url 'add_product' %}" class="btn font-weight-bold btn-success">ADICIONAR</a>
				</div>
			</div>
		{% endif %}
	</div>
</div>	
{% endblock %}
